<p>
  <h5>Czytelnicy:</h5>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwisko i imię</th>
      <th scope="col">Ile wypożyczonych</th>
      <th scope="col">Termin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Adam Mickiewicz</td>
      <td>3</td>
      <td>20.10.2018 r.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Juliusz Słowacki</td>
      <td>5</td>
      <td class="text-danger">12.10.2018 r. !!</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Maria Skłodowska-Curie</td>
      <td>0</td>
      <td>brak</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-outline-success">Dodaj nowego czytelnika</button>
