<p>
  <h5>Czytelnicy:</h5>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwisko i imię</th>
      <th scope="col">Ile wypożyczonych</th>
      <th scope="col">Termin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reader of readers; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <a [routerLink]="['/reader', reader.id]">
          {{ reader.firstName }} {{ reader.surname }}
        </a>
      </td>
      <td>{{ howMuchBorrows(reader.id) }}</td>
      <td>{{ whenDelayed(reader.id) }}</td>
    </tr>
  </tbody>
</table>
<button
  class="btn btn-outline-success"
  [routerLink]="['/reader','add']">
  Dodaj nowego czytelnika
</button>
