<p>
  <h5>Książki w bibliotece:</h5>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tytuł</th>
      <th scope="col">Autor</th>
      <th scope="col">Gatunek</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a [routerLink]="['/book','1']">Przygody Tomka Sawyera</a></td>
      <td>Mark Twain</td>
      <td>powieść</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a [routerLink]="['/book','1']">Zwierzęta i zwierzątka</a></td>
      <td>Dmitroca Zbigniew</td>
      <td>dla dzieci</td>
      <td class="text-danger">wypożyczona</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a [routerLink]="['/book','1']">Gotowanie krok po kroku. Ciasta i desery</a></td>
      <td>Magnier-Moreno Marianne</td>
      <td>poradniki</td>
      <td></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-outline-success" [routerLink]="['/book','edit']">Dodaj książkę</button> &nbsp;
<button class="btn btn-outline-success" [routerLink]="['/borrow']">Wypożycz</button>
