<p>
<h5>Dane czytelnika:</h5>

<h2>Juliusz Słowacki</h2>
<p>konto utworzone: 10.10.2018 r.</p>
<h5>wypożyczenia:</h5>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tytuł</th>
      <th scope="col">Autor</th>
      <th scope="col">Gatunek</th>
      <th scope="col">Termin</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Przygody Tomka Sawyera</td>
      <td>Mark Twain</td>
      <td>powieść</td>
      <td class="text-danger">14.10.2018 r. !!</td>
      <td><a href="#" class="badge badge-info">Oznacz jako oddana</a></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Zwierzęta i zwierzątka</td>
      <td>Dmitroca Zbigniew</td>
      <td>dla dzieci</td>
      <td class="text-danger">14.10.2018 r. !!</td>
      <td><a href="#" class="badge badge-info">Oznacz jako oddana</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gotowanie krok po kroku. Ciasta i desery </td>
      <td>Magnier-Moreno Marianne</td>
      <td>poradniki</td>
      <td class="text-danger">14.10.2018 r. !!</td>
      <td><a href="#" class="badge badge-info">Oznacz jako oddana</a></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-outline-success">Usuń czytelnika</button>&nbsp;
<button
  class="btn btn-outline-success"
  [routerLink]="['/borrow']">
  Dodaj Wypożyczoną książkę
</button>
