<p>
<h5>Wypożycz:</h5>
<p></p>
<form action="">
  <div class="form-group row">
    <label for="bookGenre">czytelnik:</label>
    <select id="bookGenre" class="form-control standard-form">
      <option selected>wybierz...</option>
      <option>Adam Mickiewicz</option>
      <option>Juliusz Słowacki</option>
    </select>
  </div>
  <div class="form-group row">
    <label for="bookGenre">książka:</label>
    <select id="bookGenre" class="form-control standard-form">
      <option selected>wybierz...</option>
      <option>Przygody Tomka Sawyera - Mark Twain</option>
      <option>Zwierzęta i zwierzątka - Dmitroca Zbigniew</option>
    </select>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-outline-success">Dodaj wypożyczenie</button>
    </div>
  </div>

</form>
